html, body{
    height: 100%;
    font-size: 16px;
    background-image: url(assets/naturebackground.jpg);
    background-size: cover;
    background-position: center top;
    /*background-image:
    radial-gradient(
      circle farthest-side,
      #FDEFB0,
      #227B99
    );*/
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    -moz-animation: info-fadein 8s forwards;
    -webkit-animation: info-fadein 8s forwards;
    -ms-animation: info-fadein 8s forwards;
    animation: info-fadein 8s forwards;
    padding-bottom: 10em;
}


/*CSS For name/title and links to github, linkedin, etc*/
.name{
    font-size: 2.5em;
    font-weight: 200;
}

#title {
    font-size: 1.75em;
    font-weight: 200;
}

.button-box {
    height: 5em;
    width: 5em;
    border: 0.1em solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5em;
}

.button-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/*End CSS For name/title, github, etc*/


/*CSS For Project Box*/
.projectContainer {
  background-color: rgba(0, 0, 0, 0.15);
  width: 30%;
  height: 28%;
  border-radius: 2em !important;
  margin: 1em;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  text-align: center;
}

.projectHeader {
  top: 0;
  height: 1.5em;
  width: 100%;
}

.projectContent {
  overflow: auto;
}

#scrollArea::-webkit-scrollbar {
  background-color: transparent;
}
#scrollArea::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: rgba(39, 46, 52, 0.20);
}
.projectThumbnail {
  width: 5em;
  height: 5em;
  display: inline-block;
  margin: 1.25em;
  text-align: center;
}
.projectThumbnail p {
  text-overflow: ellipsis;
  width: 5em;
  overflow: hidden;
  white-space: nowrap;
}
/*End CSS For Project Box*/

/*Media Queries*/
@media only screen and (max-width: 600px) {
    .info {
        display: flex; align-content;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        -moz-animation: info-fadein 8s forwards;
        -webkit-animation: info-fadein 8s forwards;
        -ms-animation: info-fadein 8s forwards;
        animation: info-fadein 8s forwards;
        padding-bottom:15em;
    }
    .name {
        font-size: 2.5em;
        font-weight: 1.5em;
    }

    #title {
        font-size: 1.5em;
        font-weight: 160;
    }

    .projectContainer {
      background-color: rgba(0, 0, 0, 0.25);
      width: 90%;
      border-radius: 2em;
      height: 50%;
      margin: 1.2em;
      vertical-align: top;
    }
    .projectThumbnail {
      width: 3em;
      height: 3em;
      display: inline-block;
      margin-right: 3em;
      text-align: center;
    }
    .projectThumbnail i {
      padding-left: 0.45em;
      color: #0b2b5e;
      opacity: 0.8;
    }
    .projectThumbnail p {
      text-overflow: ellipsis;
      width: 5em;
      overflow: hidden;
      white-space: nowrap;
      color: #0b2b5e;
    }
}

/*Basic Info Fade-In*/
@-moz-keyframes info-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes info-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes info-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes info-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
