html, body{
    height: 100%;
    font-size: 16px;
    background-image: url(assets/naturebackground.jpg);
    background-size: cover;
    background-position: center top;
    /*background-image:
    radial-gradient(
      circle farthest-side,
      #FDEFB0,
      #227B99
    );*/
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    -moz-animation: info-fadein 10s forwards;
    -webkit-animation: info-fadein 10s forwards;
    -ms-animation: info-fadein 10s forwards;
    animation: info-fadein 10s forwards;
    padding-bottom: 10em;
}

#desktopSourceCode {
    width: 13.5em;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    font-size: 2em;
    border-radius: 0 0 0.2em 0;
    color: black;
    font-weight: 200;
    text-align: center;
    padding: 0 0.2em 0 0.2em;
    -moz-animation: info-fadein 10s forwards;
    -webkit-animation: info-fadein 10s forwards;
    -ms-animation: info-fadein 10s forwards;
    animation: info-fadein 10s forwards;
    margin-bottom: 1em;
}


#mobileSourceCode {
    visibility: hidden;
}

#desktopSourceCode:hover {
    text-decoration: none;
}
/*CSS For name/title and links to github, linkedin, etc*/
.name{
    font-size: 2.5em;
    font-weight: 200;
}

#title {
    font-size: 1.75em;
    font-weight: 200;
}

.button-box {
    height: 5em;
    width: 5em;
    border: 0.1em solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 0.5em;
}

.button-box:hover{
  -moz-animation: pulse 3s;
  -webkit-animation: pulse 3s;
  -ms-animation: pulse 3s;
  animation: pulse 3s;
}

.button-box i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/*End CSS For name/title, github, etc*/

/*CSS For Project Box*/
.projectContainer {
  background-color: rgba(0, 0, 0, 0.15);
  width: 30%;
  height: 28%;
  border-radius: 2em !important;
  margin: 1em;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  text-align: center;
}

.projectHeader {
  top: 0;
  height: 1.5em;
  width: 100%;
}

.projectHeader button {
    background-color: transparent;
    border-radius: 0.5em;
    margin-left: 0.2em;
    margin-top: 1px;
    border: 1px solid black;
    padding: 0 0.2em 0 0.2em;
}


/*Show scrollbar when scrolling*/
.projectContent {
  overflow: auto;
}
.projectContent::-webkit-scrollbar {
  background-color: transparent;
}
.projectContent::-webkit-scrollbar-thumb {
  border-radius: 2em;
  background-color: rgba(39, 46, 52, 0.20);
}

/*Hide scrollbar thumb when not scrolling*/
.projectContentWithoutScroll {
    overflow: auto;
}
.projectContentWithoutScroll::-webkit-scrollbar {
    background-color:transparent;
}
.projectContentWithoutScroll::-webkit-scrollbar-thumb {
    background-color: transparent;
}


.projectThumbnail {
  width: 5em;
  height: 5em;
  display: inline-block;
  margin: 1.25em;
  text-align: center;
}

.red-background {
    background-color: red;
}

.blue-background {
    background-color: blue;
}

.projectThumbnail p {
  text-overflow: ellipsis;
  width: 5em;
  overflow: hidden;
  white-space: nowrap;
}
/*End CSS For Project Box*/

/*Media Queries*/
@media only screen and (max-width: 600px) {
    .info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 90%;
        overflow: hidden;
        flex-direction: column;
        -moz-animation: info-fadein 8s forwards;
        -webkit-animation: info-fadein 8s forwards;
        -ms-animation: info-fadein 8s forwards;
        animation: info-fadein 8s forwards;
    }
    .name {
        font-size: 2.5em;
        font-weight: 1.5em;
    }

    #title {
        font-size: 1.5em;
        font-weight: 160;
    }

    #mobileSourceCode {
        border-radius: 1em;
        width: 8em;
        background-color: rgba(0, 0, 0, 0.1);
        top: 0;
        font-size: 1.2em;
        color: black;
        font-weight: 200;
        text-align: center;
        padding: 0 0.2em 0 0.2em;
        visibility: visible;
    }

    #desktopSourceCode {
        visibility: hidden;
    }

    .projectContainer {
      background-color: rgba(0, 0, 0, 0.15);
      width: 90%;
      border-radius: 2em;
      height: 50%;
      margin: 1.2em;
      vertical-align: top;
      margin-bottom: 4.5em;
    }
    .projectThumbnail {
      width: 3em;
      height: 3em;
      display: inline-block;
      margin-right: 4em;
      text-align: center;
    }
    .projectThumbnail i {
      padding-left: 0.45em;
      color: #0b2b5e;
      opacity: 0.8;
    }
    .projectThumbnail p {
      text-overflow: ellipsis;
      width: 5em;
      overflow: hidden;
      white-space: nowrap;
      color: #0b2b5e;
    }
}

/*Basic Info Fade-In*/
@-moz-keyframes info-fadein {
    0% {
        opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes info-fadein {
    0% {
        opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes info-fadein {
    0% {
        opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes info-fadein {
    0% {
        opacity: 0;
    }
    30% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*Button pulse Animation */
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0.6);
  }
  70% {
      -webkit-box-shadow: 0 0 0 1.25em rgba(0,0,0,0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}

@-moz-webkit-keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.8);
  }
  70% {
      -moz-box-shadow: 0 0 0 1.5em rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-box-shadow: 0 0 0 0 rgba(0,0,0, 0.6);
  }
  70% {
      -ms-box-shadow: 0 0 0 1.25em rgba(0,0,0,0);
  }
  100% {
      -ms-box-shadow: 0 0 0 0 rgba(0,0,0,0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.6);
  }
  70% {
      box-shadow: 0 0 0 1.25em rgba(0,0,0,0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
